<html>

<head>
    <title>Cosmodrome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type='text/javascript'
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>

    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <script type="text/javascript" src="/js/function.js"></script>

    <script>

    </script>
</head>

<body>

    <header class="">
        <div class="headerTitle">
            Algorithms in<br>
            the Cosmodrome
        </div>
        <div class="headerMetaData">
            <img src="img/udk-logo.svg"><br>
            <p style="font-weight: bold;">New Media Class 2020 Sommersemester</p>
        </div>
        <div class="mobileMenuBtn">
            <img src="img/menu.png">
        </div>
    </header>

    <div class="blank"></div>
    <div class="mobileMenu"></div>

    <div class="frontPageContainer">

        <div class="filterBtn">Filter</div>

        <div class="projectContainer">
            <div class="topicContainer">
                <div class="showAllSketches">
                    <p>All Sketches</p>
                </div>

                <div class="topicTitle">
                    <p>Space Subdivision</p>
                </div>
                <div class="topicList">
                    <ul>
                        <li>01_randomSubdivisionInSquares</li>
                        <li>02_phyllotaxis</li>
                        <li>03_circlePacking</li>
                        <li>04_tenPrint</li>
                    </ul>
                </div>
            </div>
            <div class="topicContainer">
                <div class="topicTitle">
                    <p>Space Exploration</p>
                </div>
                <div class="topicList">
                    <ul>
                        <li>05_randomWalker</li>
                        <li>06_diffuseLimitedAggregation</li>
                        <li>07_2dRayCasting</li>
                        <li>08_boids</li>
                    </ul>
                </div>
            </div>
            <div class="topicContainer">
                <div class="topicTitle">
                    <p>Space Creation</p>
                </div>
                <div class="topicList">
                    <ul>
                        <li>09_mazeGenerator</li>
                        <li>10_sandPiles</li>
                        <li>11_cellularAutomata</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="sketchListContainer">

        </div>

        <div class="projectIntroContainer">
            <p>Baikonur is a city in Kazakhstan, under russian administration, where the largest space facility in the
                world is located. Both Sputnik 1, the first artificial satellite, and Vostok 1, the first human
                spaceflight,
                were launched from the Baikonur Cosmododrome. Baikonur could also be seen as a closed city opened to the
                universe. It is a closed city because a special authorization is required to visit or leave the city
                located in the Kazakh steep, it is opened to the universe because its space facilities are still in use
                nowadays for launches to the International Space
                Station.<br>
                In this course we will have a look at a collection of algorithms that deal with space subdivision, world
                creation, travel and exploration, picturing our room as our personal space station.<br>
                P.S. The course is focused on algorithms, not on a programming language. A prior knowledge of a creative
                coding framework is required, you can participate with the creative coding framework you are more
                familiar with: Processing, openFrameworks, three.js, paper.js, p5.js, nannou, arduino IDE, you name it.
                The
                examples will be in p5.js</p>
            <br>
        </div>

        <div class="creditContainer">
            <p>Lecturer: Davide Prati</p>
            <p>Students: Antonio Castles, Bian Zhiping, Dirk Erdmann, Hibiki Ishijima, Hyungjoong Kim, Julius Führer,
                Julius Winckler,
                Mattia Friso,
                Niklas Söder, Niklas Thran, Özcan Ertek, Qingyun Zhang, Tatiana Pakhmutova </p>
            <br>
            <p style="color: black;">Project: <a style="color: black;"
                    href="https://github.com/edap/udk-2020-cosmodrome">https://github.com/edap/udk-2020-cosmodrome</a><br>

                Web Development:<a style="color: black;" href="https://github.com/hjkaddict/cosmodrome">
                    https://github.com/hjkaddict/cosmodrome</a>
            </p>
        </div>
    </div>

</body>

<script>



</script>


</html>