<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <script src="/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/3024-night.css">
    <script src="/codemirror/javascript.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>

    <link rel="stylesheet" href="/css/sketch.css">

    <title><%= title %></title>

    <script>
        var windowHeight = $(window).height()
        var windowWidth = $(window).width()

        const js = <%- JSON.stringify(sketch) %>;

        if (windowWidth < 1024) {
            var tmp1 = js.split('createCanvas')
            var tmp2 = tmp1[1].split(')')
            var tmp3 = tmp2[0].split(',')

            var mobileJS = js.replace('createCanvas' + tmp3[0] + ',' + tmp3[1], 'createCanvas(windowWidth, windowHeight')

            eval(mobileJS)
        } else {
            eval(js)
        }
    </script>

    <script>

        window.onload = function() {
            const myCodeMirror = CodeMirror(document.getElementById("codeContainer"), {
                value: js,
                mode: "javascript",
                theme: '3024-night'
            });

            $('.p5Canvas').ready(function () {
                var canvasWidth = $('.p5Canvas').outerWidth()
                var canvasHeight = $('.p5Canvas').outerHeight()

                if (windowWidth < 1024) {
                    $('#codeContainer').hide()
                    $('.openCode').hide()
                }
                
                $('.openCode').css('height', canvasHeight)

                $('.openCode').on('click', function () {
                    $('#codeContainer').css('width', $('body').width() - canvasWidth - 50)

                    if ($('body').find('.opened').length === 0) {
                        $('#codeContainer').animate({
                            'width': $('body').width() - canvasWidth - 50
                        }, function () {
                            $('.openCode img').attr('src', '/img/arrow-left.png')
                        }).addClass('opened')
                    } else {
                        $('#codeContainer').animate({
                            'width': '1'
                        }, function () {
                            $('.openCode img').attr('src', '/img/arrow-right.png')
                            $('.openCode').css('animation', 'none')
                        }).removeClass('opened')
                    }
                })

            })
        }
    </script>

</head>

<body>
    <div id="codeContainer"></div>

    <div class="openCode">
        <img src="/img/arrow-right.png">
    </div>
</body>

</script>

</html>