<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <script src="/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/3024-night.css">
    <script src="/codemirror/javascript.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>

    <title>Cosmodrome</title>

    <script>
        const js = <%- JSON.stringify(sketch) %>;
        eval(js)

    </script>

    <script>
        $(document).ready(function () {
            const myCodeMirror = CodeMirror(document.getElementById("codeContainer"), {
                value: js,
                mode: "javascript",
                theme: '3024-night'
            });

            $('.p5Canvas').ready(function () {
                var canvasWidth = $('.p5Canvas').outerWidth()
                var canvasHeight = $('.p5Canvas').outerHeight()
                $('.openCode').css('height', canvasHeight)
            })
        })
    </script>

</head>

<body>

    <div id="codeContainer">
    </div>

    <div class="openCode">
        <img src="/img/arrow-right.png">
    </div>
</body>

<script>
    $('.openCode').on('click', function () {
        $('#codeContainer').css('width', '40vw')

        if ($('body').find('.opened').length === 0) {
            $('#codeContainer').animate({
                'width': '40vw'
            }, function () {
                $('.openCode img').attr('src', '/img/arrow-left.png')
                $('.openCode').css('animation', 'blinker 1s linear infinite')
            }).addClass('opened')
        } else {
            $('#codeContainer').animate({
                'width': '1'
            }, function () {
                $('.openCode img').attr('src', '/img/arrow-right.png')
                $('.openCode').css('animation', 'none')
                // $('.openCode').css('animation', 'blinker 1s linear infinite')

            }).removeClass('opened')
        }
    })
</script>

</html>